@import '../../styles/colors.scss';

.inputContainer {
    display: flex;
    flex-direction: column;

    .input {
        border: 1px solid $primaryLight;
        line-height: 3.4rem;
        border-radius: .3rem;

        &:focus {
            outline-color: $primaryLight;
        }
    }

    .errorInputMessage {
        margin: 0.5rem 0.3rem 0;
        color: #bc487b;
    }
}