@import '../../styles/colors.scss';

.surveyListWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .headerWrap {
        display: flex;
        background-color: $primary;
        justify-content: center;
        border-top: 4rem solid $primaryDark;

        .headerContent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 80rem;
            flex-grow: 1;
            padding: 2.4rem 4rem;

            img {
                height: 6rem;
                align-self: center;
            }

            .logoutWrap {
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                color: $white;

                span {
                    font-size: 1.6rem;
                    margin-bottom: .8rem;
                }

                a {
                    font-size: 1.4rem;
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .contentWarp {
        display: flex;
        align-self: center;
        flex-direction: column;
        max-width: 80rem;
        flex-grow: 1;
        width: 100%;
        padding: 4rem;
        background-color: $background;

        h2 {
            color: $primaryDark;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                height: 25rem;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: .8rem;
                flex-basis: 48%;
                margin-bottom: 2.4rem;
                transition: box-shadow 500ms ease;

                &:hover {
                    box-shadow: 0px 3px 20px rgba(51, 51, 51, 0.4);
                }

                .surveyContent {
                    position: relative;
                    border-radius: 0.8rem 0.8rem 0 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-grow: 1;
                    background-repeat: no-repeat;
                    background-image:
                        linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)), linear-gradient(to right, $white, $white);
                    background-position: 0 0, 54 0;
                    background-size: 5.4rem 100%, 100% 100%;

                    .iconWarp {
                        position: absolute;
                        top: -1rem;
                        right: -1rem;
                        border-radius: 100%;
                        padding: 1rem;
                        box-shadow: 0px 3px 20px rgba(51, 51, 51, 0.4);

                        &.red {
                            background-color: $invalid;
                        }

                        &.green {
                            background-color: $valid;
                        }
                    }

                    time {
                        display: flex;
                        flex-direction: column;
                        background-color: $primaryLight;
                        color: $white;
                        border-radius: .8rem;
                        margin-left: 2.4rem;
                        align-self: center;
                        align-items: center;
                        justify-content: center;
                        width: 6rem;
                        height: 10rem;
                        flex-shrink: 0;

                        .day {
                            font-size: 3.6rem;
                            font-weight: bold;
                        }

                        .month {
                            font-size: 1.4rem;
                            text-transform: lowercase;
                            margin: 0 0 0.5rem;
                        }

                        .year {
                            font-size: 1.6rem;
                        }
                    }

                    p {
                        font-size: 1.8rem;
                        margin: 2.4rem;
                        align-self: center;
                    }
                }

                footer {
                    font-size: 1.4rem;
                    background-color: $primary;
                    color: $white;
                    line-height: 4rem;
                    text-align: center;
                    border-radius: 0 0 0.8rem 0.8rem;
                    cursor: pointer;
                    transition: backgroud-color 500ms ease;

                    &:hover {
                        background-color: $primaryDark;
                    }
                }
            }
        }
    }
}