@import '../../styles/colors.scss';

.errorWrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .spinner {
        margin-top: 2.8rem;
    }

    .error {
        font-size: 1.4rem;
        margin-top: 2.8rem;
        color: $primaryLight;
    }
}