@import './colors.scss';

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%; //remove in bug case
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 52.5%;
    }
}

body {
    background-color: $background;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    outline: none;
    border: none;
}

button {
    border: none;
    font-size: 1.6rem;
    line-height: 5rem;
    border-radius: .8rem;
    color: $white;
    background-color: $primary;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding: 0 1.6rem;

    &:hover {
        opacity: .9;
    }

    &:disabled {
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
            opacity: 1;
        }
    }
}