@import './colors.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    outline: none;
    border: none;
}

button {
    border: none;
    font-size: 1.2rem;
    line-height: 3.5rem;
    border-radius: .6rem;
    color: $white;
    background-color: $primary;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        opacity: .9;
    }

    &:disabled {
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
            opacity: 1;
        }
    }
}