@import './colors.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

input[type="password"],
input[type="email"] {
    border: 1px solid $primaryLight;
    line-height: 3.4rem;
    border-radius: .3rem;

    &:focus {
        outline-color: $primaryLight;
    }
}

button {
    border: none;
    font-size: 1.2rem;
    line-height: 3.5rem;
    border-radius: .6rem;
    color: $white;
    background-color: $primary;

    &:hover {
        opacity: .9;
    }
}