@import '../../styles/colors.scss';

.loadingWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $white, $alpha: 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: wait;
}